## Finding Patterns in Dissents (2007 onwards)

### Question
Are there common patterns in speeches and other features of the economy during dissents / for dissenters?

In [6]:
import pandas as pd

fed_funds = pd.read_csv("datasets/FEDFUNDS.csv")
fed_funds.head()

         DATE  FEDFUNDS
0  1954-07-01      0.80
1  1954-08-01      1.22
2  1954-09-01      1.06
3  1954-10-01      0.85
4  1954-11-01      0.83

In [24]:
core_pce = pd.read_csv("datasets/PCEmonthly.csv")
core_pce.columns = list(core_pce.columns[0:1]) + ["EFFECTIVE_FFR"]
core_pce.head()

         DATE  EFFECTIVE_FFR
0  1959-02-01        1.71403
1  1959-03-01        1.81818
2  1959-04-01       -0.13066
3  1959-05-01        1.09027
4  1959-06-01        0.64711

In [38]:
fed_funds_range = pd.read_csv("datasets/FEDFUNDSrange.csv")
fed_funds_range.columns = list(fed_funds_range.columns[0:1]) + ["LOWERBOUND", "UPPERBOUND"]
fed_funds_range.head()

         DATE  LOWERBOUND  UPPERBOUND
0  2008-12-16         0.0        0.25
1  2008-12-17         0.0        0.25
2  2008-12-18         0.0        0.25
3  2008-12-19         0.0        0.25
4  2008-12-20         0.0        0.25

In [54]:
fomc_dissents = pd.read_csv("datasets/FOMC_Dissents_Data.csv")
fomc_dissents.columns = fomc_dissents.iloc[2]
fomc_dissents.drop([0,1,2], axis=0, inplace=True)
fomc_dissents = fomc_dissents.loc[:, fomc_dissents.columns.notnull()]
# filling NaN values
for col in fomc_dissents.columns[9:13]:
    fomc_dissents[col].fillna(0, inplace=True)

fomc_dissents.head()

2,Year,FOMC Meeting,Chair,Dissent (Y or N),FOMC Votes,Votes for Action,Votes Against Action,Number Governors Dissenting,Number Presidents Dissenting,No. Governors for Tighter,No. Governors for Easier,No. Presidents for Tighter,No. Presidents for Easier,Dissenters Tighter,Dissenters Easier,Dissenters Other/Indeterminate
3,1936,03/19/36,Eccles,N,9,9,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1936,05/25/36,Eccles,N,9,9,0,0,0,0,0,0,0,NaN,NaN,NaN
5,1936,11/20/36,Eccles,N,11,11,0,0,0,0,0,0,0,NaN,NaN,NaN
6,1937,01/26/37,Eccles,N,11,11,0,0,0,0,0,0,0,NaN,NaN,NaN
7,1937,03/15/37,Eccles,N,8,8,0,0,0,0,0,0,0,NaN,NaN,NaN

In [60]:
dissenters = fomc_dissents.loc[fomc_dissents["Dissent (Y or N)"] == "Y"]
dissenters.head()

2,Year,FOMC Meeting,Chair,Dissent (Y or N),FOMC Votes,Votes for Action,Votes Against Action,Number Governors Dissenting,Number Presidents Dissenting,No. Governors for Tighter,No. Governors for Easier,No. Presidents for Tighter,No. Presidents for Easier,Dissenters Tighter,Dissenters Easier,Dissenters Other/Indeterminate
18,1938,12/30/38,Eccles,Y,11,8,3,3,0,0,0,0,0,NaN,NaN,"Eccles, Ransom, Draper"
19,1939,03/07/39,Eccles,Y,11,8,3,3,0,0,0,0,0,NaN,NaN,"Eccles, Ransom, Draper"
20,1939,03/20/39,Eccles,Y,11,8,3,3,0,0,0,0,0,NaN,NaN,"Eccles, Ransom, Draper"
21,1939,04/19/39,Eccles,Y,10,9,1,1,0,0,0,0,0,NaN,NaN,Draper
22,1939,06/21/39,Eccles,Y,11,10,1,1,0,0,0,0,0,NaN,NaN,Draper

In [72]:
dissenters["Year"] = pd.to_numeric(dissenters["Year"])
dissenters["Year"].dtype

/Users/Pranav/anaconda/envs/econ399/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

dtype('int64')

In [74]:
dissenters["FOMC Meeting"] = pd.to_datetime(dissenters["FOMC Meeting"])
dissenters["FOMC Meeting"].dtype

/Users/Pranav/anaconda/envs/econ399/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

dtype('<M8[ns]')

In [75]:
dissenters.head()

2,Year,FOMC Meeting,Chair,Dissent (Y or N),FOMC Votes,Votes for Action,Votes Against Action,Number Governors Dissenting,Number Presidents Dissenting,No. Governors for Tighter,No. Governors for Easier,No. Presidents for Tighter,No. Presidents for Easier,Dissenters Tighter,Dissenters Easier,Dissenters Other/Indeterminate
18,1938,2038-12-30,Eccles,Y,11,8,3,3,0,0,0,0,0,NaN,NaN,"Eccles, Ransom, Draper"
19,1939,2039-03-07,Eccles,Y,11,8,3,3,0,0,0,0,0,NaN,NaN,"Eccles, Ransom, Draper"
20,1939,2039-03-20,Eccles,Y,11,8,3,3,0,0,0,0,0,NaN,NaN,"Eccles, Ransom, Draper"
21,1939,2039-04-19,Eccles,Y,10,9,1,1,0,0,0,0,0,NaN,NaN,Draper
22,1939,2039-06-21,Eccles,Y,11,10,1,1,0,0,0,0,0,NaN,NaN,Draper

In [77]:
dissenters[dissenters["Year"] > 2007]

2,Year,FOMC Meeting,Chair,Dissent (Y or N),FOMC Votes,Votes for Action,Votes Against Action,Number Governors Dissenting,Number Presidents Dissenting,No. Governors for Tighter,No. Governors for Easier,No. Presidents for Tighter,No. Presidents for Easier,Dissenters Tighter,Dissenters Easier,Dissenters Other/Indeterminate
710,2008,2008-01-21,Bernanke,Y,9,8,1,0,1,0,0,1,0,Poole,NaN,NaN
711,2008,2008-01-30,Bernanke,Y,10,9,1,0,1,0,0,1,0,Fisher,NaN,NaN
712,2008,2008-03-18,Bernanke,Y,10,8,2,0,2,0,0,2,0,"Fisher, Plosser",NaN,NaN
713,2008,2008-04-30,Bernanke,Y,10,8,2,0,2,0,0,2,0,"Fisher, Plosser",NaN,NaN
714,2008,2008-06-25,Bernanke,Y,10,9,1,0,1,0,0,1,0,Fisher,NaN,NaN
715,2008,2008-08-05,Bernanke,Y,11,10,1,0,1,0,0,1,0,Fisher,NaN,NaN
720,2009,2009-01-28,Bernanke,Y,9,8,1,0,1,0,0,0,0,NaN,NaN,Lacker
728,2010,2010-01-27,Bernanke,Y,10,9,1,0,1,0,0,1,0,Hoenig,NaN,NaN
729,2010,2010-03-16,Bernanke,Y,10,9,1,0,1,0,0,1,0,Hoenig,NaN,NaN
730,2010,2010-04-28,Bernanke,Y,10,9,1,0,1,0,0,1,0,Hoenig,NaN,NaN
731,2010,2010-06-23,Bernanke,Y,10,9,1,0,1,0,0,1,0,Hoenig,NaN,NaN
732,2010,2010-08-10,Bernanke,Y,10,9,1,0,1,0,0,1,0,Hoenig,NaN,NaN
733,2010,2010-09-21,Bernanke,Y,9,8,1,0,1,0,0,1,0,Hoenig,NaN,NaN
734,2010,2010-11-03,Bernanke,Y,11,10,1,0,1,0,0,1,0,Hoenig,NaN,NaN
735,2010,2010-12-14,Bernanke,Y,11,10,1,0,1,0,0,1,0,Hoenig,NaN,NaN
740,2011,2011-08-09,Bernanke,Y,10,7,3,0,3,0,0,1,0,Kocherlakota,NaN,"Fisher, Plosser"
741,2011,2011-09-21,Bernanke,Y,10,7,3,0,3,0,0,3,0,"Fisher, Kocherlakota, Plosser",NaN,NaN
742,2011,2011-11-02,Bernanke,Y,10,9,1,0,1,0,0,0,1,NaN,Evans,NaN
743,2011,2011-12-13,Bernanke,Y,10,9,1,0,1,0,0,0,1,NaN,Evans,NaN
744,2012,2012-01-25,Bernanke,Y,10,9,1,0,1,0,0,0,0,NaN,NaN,Lacker
745,2012,2012-03-13,Bernanke,Y,10,9,1,0,1,0,0,0,0,NaN,NaN,Lacker
746,2012,2012-04-25,Bernanke,Y,10,9,1,0,1,0,0,0,0,NaN,NaN,Lacker
747,2012,2012-06-20,Bernanke,Y,12,11,1,0,1,0,0,1,0,Lacker,NaN,NaN
748,2012,2012-08-01,Bernanke,Y,12,11,1,0,1,0,0,0,0,NaN,NaN,Lacker
749,2012,2012-09-13,Bernanke,Y,12,11,1,0,1,0,0,1,0,Lacker,NaN,NaN
750,2012,2012-10-24,Bernanke,Y,12,11,1,0,1,0,0,1,0,Lacker,NaN,NaN
751,2012,2012-12-12,Bernanke,Y,12,11,1,0,1,0,0,1,0,Lacker,NaN,NaN
752,2013,2013-01-30,Bernanke,Y,12,11,1,0,1,0,0,1,0,George,NaN,NaN
753,2013,2013-03-20,Bernanke,Y,12,11,1,0,1,0,0,1,0,George,NaN,NaN
754,2013,2013-05-01,Bernanke,Y,12,11,1,0,1,0,0,1,0,George,NaN,NaN
755,2013,2013-06-19,Bernanke,Y,12,10,2,0,2,0,0,1,1,George,Bullard,NaN
756,2013,2013-07-31,Bernanke,Y,12,11,1,0,1,0,0,1,0,George,NaN,NaN
757,2013,2013-09-18,Bernanke,Y,10,9,1,0,1,0,0,1,0,George,NaN,NaN
758,2013,2013-10-30,Bernanke,Y,10,9,1,0,1,0,0,1,0,George,NaN,NaN
759,2013,2013-12-18,Bernanke,Y,10,9,1,0,1,0,0,0,1,NaN,Rosengren,NaN
761,2014,2014-03-19,Yellen,Y,9,8,1,0,1,0,0,0,0,NaN,NaN,Kocherlakota
764,2014,2014-07-30,Yellen,Y,10,9,1,0,1,0,0,0,0,NaN,NaN,Plosser
765,2014,2014-09-17,Yellen,Y,10,8,2,0,2,0,0,0,0,NaN,NaN,"Fisher, Plosser"
766,2014,2014-10-29,Yellen,Y,10,9,1,0,1,0,0,0,1,NaN,Kocherlakota,NaN
767,2014,2014-12-17,Yellen,Y,10,7,3,0,3,0,0,0,1,NaN,Kocherlakota,"Fisher, Plosser"
773,2015,2015-09-17,Yellen,Y,10,9,1,0,1,0,0,1,0,Lacker,NaN,NaN
774,2015,2015-10-28,Yellen,Y,10,9,1,0,1,0,0,1,0,Lacker,NaN,NaN
777,2016,2016-03-16,Yellen,Y,10,9,1,0,1,0,0,1,0,George,NaN,NaN
778,2016,2016-04-27,Yellen,Y,10,9,1,0,1,0,0,1,0,George,NaN,NaN
780,2016,2016-07-27,Yellen,Y,10,9,1,0,1,0,0,1,0,George,NaN,NaN
781,2016,2016-09-21,Yellen,Y,10,7,3,0,3,0,0,3,0,"George, Mester, Rosengren",NaN,NaN
782,2016,2016-11-02,Yellen,Y,10,8,2,0,2,0,0,2,0,"George, Mester",NaN,NaN
785,2017,2017-03-15,Yellen,Y,10,9,1,0,1,0,0,0,1,NaN,Kashkari,NaN
787,2017,2017-06-14,Yellen,Y,9,8,1,0,1,0,0,0,1,NaN,Kashkari,NaN
791,2017,2017-12-13,Yellen,Y,9,7,2,0,2,0,0,0,2,NaN,"Evans, Kashkari",NaN