In [4]:
import pandas as pd

In [5]:
fed_funds = pd.read_csv("datasets/FEDFUNDS.csv")
fed_funds.head()

         DATE  FEDFUNDS
0  1954-07-01      0.80
1  1954-08-01      1.22
2  1954-09-01      1.06
3  1954-10-01      0.85
4  1954-11-01      0.83

In [2]:
core_pce = pd.read_csv("datasets/PCEmonthly.csv")
core_pce.columns = list(core_pce.columns[0:1]) + ["EFFECTIVE_FFR"]
core_pce.head()

         DATE  EFFECTIVE_FFR
0  1959-02-01        1.71403
1  1959-03-01        1.81818
2  1959-04-01       -0.13066
3  1959-05-01        1.09027
4  1959-06-01        0.64711

In [3]:
fed_funds_range = pd.read_csv("datasets/FEDFUNDSrange.csv")
fed_funds_range.columns = list(fed_funds_range.columns[0:1]) + ["LOWERBOUND", "UPPERBOUND"]
fed_funds_range.head()

         DATE  LOWERBOUND  UPPERBOUND
0  2008-12-16         0.0        0.25
1  2008-12-17         0.0        0.25
2  2008-12-18         0.0        0.25
3  2008-12-19         0.0        0.25
4  2008-12-20         0.0        0.25